@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@100;400&family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script:wght@500&family=Lilita+One&family=Poppins:wght@700&family=Rajdhani&family=Rowdies:wght@300&family=Ubuntu:wght@300&display=swap');
/* ###################### Global styles  */

:root {
    /* --main-color: #1C1C1C;
    --secondary-color: #262525;
    --box-bg: #DAA425;
    --btnBg: #dd9d07;
    --borderBg: #110e49; */
    --body-color: #F3F3EC;
    --main-color: #fff;
    --third-color: #432E36;
    /* --shadow: #DAA425; */
    --btnBg: #DC3545;
    --border: #110e49;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-family: 'Rowdies', cursive;
    font-family: 'Russo One', sans-serif;
}

p,
a,
li,
span,
input,
label,
textarea {
    font-family: 'Raleway', sans-serif;
}

.bg {
    background-color: var(--main-color);
}

.bg1 {
    background-color: var(--body-color);
}

.bg3 {
    background-color: var(--third-color)
}


a {
    text-decoration: none;
    color: #000;
}

p a {
    text-decoration: none;
}


ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

div a {
    color: #000;
    text-decoration: none;
}

div a:hover {
    color: #000;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #8c8a8a;
}

.hidden {
    display: none;
}

.cursor {
    cursor: pointer;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--main-color);
    padding-bottom: 18px;
    z-index: 2;
}

nav a {
    color: #000;
}

nav a:hover {
    color: gray;
}

#category-container {
    position: fixed;
    top: 80px;
    right: 450px;
    z-index: 2;
    background-color: #fff;
}

#category-container p a:hover {
    color: red;
}


.sm-navbar {
    position: relative;
}

.menu {
    position: fixed;
    left: 0;
    background: #432E36;
    width: 340px;
    height: 100vh;
    z-index: 2;
    box-shadow: 1px 2px 5px rgb(188, 50, 50);
    overflow: scroll;
}

.menu ul li,
.menu ul li a {
    color: #fff;
    list-style: none;
    margin-bottom: 2rem;
}

/* Buttons */
.btns {
    outline: none;
    border: 1px solid var(--shadow);
    background-color: var(--btnBg);
    padding: 10px 0px;
    color: #fff;
    border-radius: 7px;
    box-shadow: 3px 4px 5px #110e49;
    font-size: small;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.btns:hover {
    color: #fff;
    box-shadow: none;
}

/* Hero */
.hero {
    background-image: url(/img/pexels-sebastian-sørensen-731082.jpg);
    height: 670px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* margin-top: 60px; */
}

.hero-infos {
    position: absolute;
    top: 13em;
    left: 0;
    right: 0;
    color: #fff;
}

.find-form {
    box-shadow: 4px 4px 90px #DC3545;
    background-color: var(--body-color);
}

/* Property Modal */
#property-modal {
    position: fixed;
    width: 75%;
    height: 80vh;
    top: 10%;
    left: 12%;
    overflow-y: scroll;
    background-color: var(--third-color);
    z-index: 6;
    color: #fff;
}

/* cards */
.section-img {
    width: 50px;
}

.img-property {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

/* Recent property listed */
.property-detail img:hover {
    border: 1px solid #DC3545;
    scale: 1.05;
    transition: 2s;
}

/* Awards */
.sphere-bg {
    height: 70px;
    width: 70px;
    background-color: #fff;
    border-radius: 10% 30% 50% 70%;

}

/* By location */
.img-city {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.locations {
    position: relative;
}

.property-info {
    position: absolute;
    top: 3.5em;
    width: 100%;
    color: #fff;
    background: rgba(3, 0, 0, 0.6);
}

/* Agents */
.swiper-pagination-bullet-active {
    background-color: var(--btnBg) !important;
}

.swiper-pagination-bullet {
    border: 3px solid var(--btnBg);
}

.agent-wrapper {
    /* margin: 40px 0px; */
    font-size: small;
    height: auto !important;
}

.agent-wrapper:active {
    cursor: pointer;
}

.agent-img {
    width: 80px;
    border-radius: 50%;
    box-shadow: 4px 4px 100px #432E36;
}

/* Footer */
footer {
    background-color: var(--third-color);
    color: #fff;
}

footer a {
    color: gray;
}

footer a:hover {
    color: #fff;
}