/* All css */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@100;400&family=Russo+One&display=swap');

:root {
    --body-color: #F3F3EC;
    --main-color: #1C1C1C;
    --secondary-color: #fff;
    --box-bg: #DC3545;
    --btnBg: #DC3545;
    --borderBg: #110e49;
}

html,
body {
    background-color: var(--body-color);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    transition: 1s;
}

.bg {
    background-color: var(--main-color);
}

.bg2 {
    background-color: var(--secondary-color);
}

.bg-body {
    background-color: var(--body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Russo One', sans-serif;
}

p,
a,
li,
span,
input,
label,
textarea {
    font-family: 'Raleway', sans-serif;
}

table,
th,
td,
tr,
thead {
    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #8c8a8a;
}

.hidden {
    display: none;
}

a:hover {
    color: #000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

p a:hover {
    color: #000;
}

li a {
    text-decoration: none;
    color: #000;
}

li a:hover {
    color: #000;
}

.cursor {
    cursor: pointer;
}

.border-error {
    border: 1px solid red;
    border-radius: 5px;
    padding-left: 20px;
}

/* sidebar */

#sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.316);
}

.sidebar {
    color: #fff;
    background-color: var(--main-color);
    height: 100vh;
    position: fixed;
}

.sm-sidebar {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    color: #fff;
    z-index: 10;
    background-color: #222424;
}

.navbar {
    position: fixed;
    top: 23px;
    right: 80px;
    z-index: 2;
    background-color: #fff;
    padding: 10px 40px;
}

.notification-modal {
    position: fixed;
    top: 90px;
    right: 150px;
    z-index: 2;
    background-color: #fff;
    height: 450px;
    width: 400px;
    overflow: scroll;
}


.contents {
    margin-top: 6rem;
}

@media (min-width: 576px) {
    .contents {
        margin-left: 0px;
    }
}

@media (min-width: 768px) {
    .contents {
        margin-left: 100px;
    }
}

@media (min-width: 992px) {
    .contents {
        margin-left: 280px;
    }
}

/*  */

.img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.imgs {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.close-btn {
    /* background-color: #fff; */
    color: red;
    font-size: larger;
    background: transparent;
    border: none;

}

/* .form-floating input:focus,
.form-floating select:focus {
    background-color: transparent;
    border-color: #86b7fe;
    outline: none;
    box-shadow: none;
    color: #fff;
}

.form-floating {
    border: 2px solid var(--btnBg);
    border-radius: 5px;
}

.form-floating input,
.form-floating textarea {
    border: none;
    background-color: transparent;
    outline: none;
} */

.btns {
    outline: none;
    border: 1px solid var(--shadow);
    background-color: var(--btnBg);
    padding: 8px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 3px 4px 5px #110e49;
    font-size: medium;
    font-weight: 700;
    text-decoration: none;
}

.btns:hover {
    transition: 1s;
    color: #fff;
    background-color: var(--btnBg);
    box-shadow: 1px 2px 3px #110e49;
}

.btn {
    font-size: smaller;
}

/* Table  */
.custom-table thead tr,
.custom-table thead th {
    padding-bottom: 30px;
    border-top: none;
    border-bottom: none !important;
    color: #DC3545;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    padding-top: 22px;
}

.custom-table tbody th,
.custom-table tbody td {
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    width: auto;
    text-align: center;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: var(--main-color);
}

.custom-table tbody tr:hover td,
.custom-table tbody tr:focus td {
    color: #fff;
}

.custom-table tbody tr:hover td a,
.custom-table tbody tr:focus td a {
    color: #fdd114;
}

.custom-table .td-box-wrap {
    padding: 0;
}

/* Manage Tournaments  */
#updateContainer {
    height: 600px;
    overflow: scroll;
    background-color: var(--main-color);
}


/* Property Image */
.img-property {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.agent-img {
    width: 80px;
    border-radius: 50%;
    box-shadow: 4px 4px 100px #432E36;
}

.swiper-pagination-bullet-active {
    background-color: var(--btnBg) !important;
}

.swiper-pagination-bullet {
    border: 3px solid var(--btnBg);
}

.agent-wrapper {
    /* margin: 40px 0px; */
    font-size: small;
    height: auto !important;
}

.agent-wrapper:active {
    cursor: pointer;
}